@import './quasar-variables.scss';
@import './typography.scss';

.q-card {
    border-radius: 15px;
    &.custom-dialog {
        border-radius: 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
}